.list-header {
    padding-top: 4px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    background-color: #99c8ff; /* full shade (too dark): #0076ff */
    color: #424242;
}

.mainBody {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questionBody {
    /* Something goes here */
}

.subQuestionBody {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: flex-start;
}

.subQuestionInfoBox {
    flex: 2;
}

.subQuestionTextBox {
    flex: 3;
    flex-direction: column;
}

.textboxLabel {
    flex: 1;
    margin-top: 0px;
}

.errorBox {
    color: red;
}

.redText {
    color: red;
}

#gradingSection {
    margin-top: 50px;
    margin-bottom: 100px;
}

.assignmentInfo {
    padding-left: 2em;
    padding-right: 1em;
    vertical-align: middle;
}

/**
Settings Page
 */

.settingTextInput {
    background-color: lightsteelblue;
}

.noResultsRow {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

/**
Dashboard Page
 */

.dashHistoBucket {
    font-weight: bold;
    padding-right: 1em;
}

.dashHistoValue {
    padding-left: 2em;
}

.dashResultCell {
    /* nothing yet */
}

.toast--danger {
    background-color: hsl(348, 100%, 61%);
}

.hidden {
    display: none;
}

/**
stdio viewer Page
 */
#stdioViewer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#adminClasslistConfirmHeader .dialog {
    width: 80%;
}

#adminClasslistConfirmHeader ons-list {
    overflow-y: auto;
    height: 80vh;
}

#adminClasslistConfirmHeader ons-button {
    text-align: center;
    width: 100%;
}
