# Node
**/node_modules/

# Yarn
**/yarn-debug.log*
**/yarn-error.log*
**/.yarn-integrity

# NYC
**/.nyc_output
**/coverage/

# WebStorm (https://www.jetbrains.com/help/idea/managing-projects-under-version-control.html)
**/.idea/workspace.xml
**/.idea/tasks.xml

# Compiled source
**/src/**/*.js
**/src/**/*.map
**/test/**/*.js
**/test/**/*.map
**/html/**/*.js
**/html/**/*.map
**/bin/

packages/common/**/*.js
packages/common/**/*.map
packages/portal/backend/**/*.js
packages/portal/backend/**/*.map
packages/portal/frontend/**/*.js
packages/portal/frontend/**/*.map

## Fork-specific resources
packages/portal/backend/test/cs310/
packages/portal/frontend/html/cs310/
packages/portal/frontend/src/app/custom/CustomAdminView.ts
packages/portal/frontend/src/app/custom/CustomStudentView.ts
packages/portal/backend/src/custom/CustomCourseController.ts
packages/portal/backend/src/custom/CustomCourseRoutes.ts

.circleci/

# Webstorm
**/.idea

# Visual Studio
.vscode/

# MacOS
**/.DS_Store

# Env
**/.env
**/.env*

# Misc
ssl/
/data/
.rsyncexclude
testOutput/
packages/autotest/testOutput/
packages/autotest/test/data/
