# See https://www.jetbrains.com/help/idea/managing-projects-under-version-control.html
**/.idea/workspace.xml
**/.idea/tasks.xml

node_modules/
coverage/
src/*.js
src/*.map
src/**/*.js
src/**/*.map
test/*.js
test/*.map
.DS_Store
.env
