# Before deploying, make sure you have done the following:
# - created a user `classy` on the host
# - installed SSL certificates for the host
# - created a `.env` file in the same dir as this file and populated appropriately
# - opened port 80 and port 443 (publicly)
#
# A few high-level notes about this config file:
# - At deploy-time, all services have access to the values in the .env file; however, they are only accessible to the
#   running service if the env_file directive is specified. If you only need to pass a subset of the env vars, use the
#   environment directive and list only the var keys you need.
# - As configured, only ports 80 and 443 are seen by the host; all other ports listed (with the expose directive) are
#   only accessible to linked services (i.e. those listed in the depends_on directive). If a service should be publicly
#   accessible, consider listing it in the proxy service instead of opening additional ports on the host.
# - In general, services should be started as non-root users. Here, we launch services as the classy user (configured on
#   the host) using the user directive.
# - Services specified here can be extended (and additional services can be added) by creating additional
#   docker-compose.yml files. See https://docs.docker.com/compose/extends/#example-use-case.

version: "3.5"

services:
    autotest:
        build:
            context: ./
            dockerfile: ./packages/autotest/Dockerfile
        container_name: ${CONTAINER_NAME_AUTOTEST}
        depends_on:
            - db
            - grader
        env_file: .env
        expose:
            - ${AUTOTEST_PORT}
        restart: always
        user: "${UID}"
    db:
        command: --quiet
        container_name: ${CONTAINER_NAME_DATABASE}
        environment:
          - MONGO_INITDB_ROOT_USERNAME
          - MONGO_INITDB_ROOT_PASSWORD
        ports:
            - "27017:27017"
        image: mongo:3-jessie
        restart: always
        user: "${UID}"
        volumes:
            - /var/opt/classy/db:/data/db
    grader:
        build:
            context: ./
            dockerfile: ./packages/grader/Dockerfile
        container_name: ${CONTAINER_NAME_GRADER}
        # DO NOT PASS THE ENTIRE ENVIRONMENT FILE
        # Students could log the token values
        environment:
            - GH_BOT_TOKEN  # Only access student repos not oracle
            - UID
            - GRADER_HOST_DIR
            - GRADER_PERSIST_DIR
            - GRADER_PORT
            - DOCKER_NET=${GRADE_NET_NAME}
            - HOSTS_ALLOW
        expose:
            - ${GRADER_PORT}
        networks:
            default:
            grader:
                ipv4_address: 172.28.2.0
        restart: always
        user: "0"  # Run as root; needs permission to interact with docker service
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
            - "${GRADER_HOST_DIR}:${GRADER_PERSIST_DIR}"
        privileged: true
    portal:
        build:
            args:
                - GH_BOT_USERNAME
                - GH_BOT_EMAIL
            context: ./
            dockerfile: ./packages/portal/Dockerfile
        container_name: ${CONTAINER_NAME_PORTAL}
        depends_on:
            - db
            - autotest
        env_file: .env
        expose:
            - ${BACKEND_PORT}
        # Hack for SDMM since the github webhook hits the port directly
        ports:
            - 5000:${BACKEND_PORT}
        restart: always
        user: "${UID}"
        volumes:
            - "${HOST_SSL_CERT_PATH}:${SSL_CERT_PATH}"
            - "${HOST_SSL_KEY_PATH}:${SSL_KEY_PATH}"
    proxy:
        build:
            args:
                - UID
                - SSL_CERT_PATH
                - SSL_KEY_PATH
                - CONTAINER_NAME_PORTAL
                - BACKEND_PORT
                - CONTAINER_NAME_GRADER
                - GRADER_PORT
                - RAND_ENDPOINT
            context: ./
            dockerfile: ./packages/proxy/Dockerfile
        container_name: ${CONTAINER_NAME_ROUTER}
        depends_on:
            - portal
        ports:
            - "80:8080"
            - "443:8443"
        restart: always
        user: "${UID}"
        volumes:
            - "${HOST_SSL_CERT_PATH}:${SSL_CERT_PATH}"
            - "${HOST_SSL_KEY_PATH}:${SSL_KEY_PATH}"

# Run grading containers in a subnet to make it easy to block all traffic using iptables.
networks:
    grader:
        driver: bridge
        driver_opts:
            ip-range: "172.28.5.0/24"
            gateway: "172.28.5.254"
        ipam:
            config:
                - subnet: "172.28.0.0/16"
        name: ${GRADE_NET_NAME}
