# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10
      - image: circleci/mongo:3.6

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/project

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install --ignore-engines

      - run:
            command: cd packages/common && yarn install --ignore-engines
            name: Preparing common

      - run:
            command: cd packages/autotest && yarn install --ignore-engines
            name: Preparing autotest

      - run:
            command: cd packages/portal/backend && mkdir -p ssl/ && yarn install --ignore-engines
            name: Preparing backend

      - save_cache:
          paths:
            - node_modules
#            - packages/common/node_modules
#            - packages/portal-backend/node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: "Setup encrypted .env variable per Classy fork (chooses default env.enc when not set)"
          command: |
            echo 'export ENV_ENC_FILE="${ENCRYPT_ENV:-env}"' >> $BASH_ENV # Redirect ENCRYPT_ENV into $BASH_ENV

     # openssl aes-256-cbc -e -md sha512 -in ../.env -out .config -k $KEY
      - run:
            command: cd .circleci && openssl aes-256-cbc -d -md sha512 -in "$ENV_ENC_FILE.enc" -out ../.env -k $ENVKEY
            name: Configuring .env
            when: always

      - run:
            command: cd .circleci && mkdir -p ../packages/portal-backend/ssl && openssl aes-256-cbc -d -md sha512 -in fullchain.enc -out ../packages/portal/backend/ssl/fullchain.pem -k $ENVKEY
            name: Configuring SSL-1
            when: always

      - run:
            command: cd .circleci && openssl aes-256-cbc -d -md sha512 -in privkey.enc -out ../packages/portal/backend/ssl/privkey.pem -k $ENVKEY
            name: Configuring SSL-2
            when: always

      - run:
            command: cd packages/common && ../../node_modules/typescript/bin/tsc
            name: Building common
            when: always

      - run:
            command: cd packages/portal/backend && ../../../node_modules/typescript/bin/tsc
            name: Building backend
            when: always

      # statically validate the frontend (this is the best we can do as there are no automated UI tests yet)
#      - run:
#            command: cd packages/portal/frontend && ../../../node_modules/typescript/bin/tsc && ../../../node_modules/webpack/bin/webpack.js
#            name: Building frontend
#            when: always

      - run:
            command: cd packages/autotest && ../../node_modules/typescript/bin/tsc
            name: Building autotest
            when: always

      - run:
            command: yarn run lint
            name: Linting project
            when: always

      - run:
            command: git config --global user.email "CI@test.com" && git config --global user.name "CI Test Name"
            name: Configure local git
            when: on_success

      # - run:
      #       command: |
      #                 set -e
      #                 cd packages/portal/backend
      #                 yarn coverCI
      #       name: Running backend tests
      #       environment:
      #         MOCHA_FILE: testOutput/backend/test/test-results.xml
      #       when: on_success

      # - run:
      #       command: cd packages/portal/backend && ./node_modules/junit-viewer/bin/junit-viewer --results=../../../testOutput/backend/test/test-results.xml --save=../../../testOutput/backend/test/index.html
      #       name: Converting backend test results to HTML
      #       when: on_success

      ## DEBUG. REMOVE BEFORE RELEASE
      - run:
            command: |
                      set -e
                      cd packages/autotest
                      node ./node_modules/.bin/mocha 
            name: Running autotest tests - WITH TEST COMMAND
            when: on_success

      - run:
            command: |
                      set -e
                      cd packages/autotest
                      yarn coverCI
            name: Running autotest tests
            environment:
              MOCHA_FILE: testOutput/autotest/test/test-results.xml
            when: on_success

#      - run:
#            command: cd packages/autotest && ./node_modules/junit-viewer/bin/junit-viewer --results=../../testOutput/autotest/test/test-results.xml --save=../../testOutput/autotest/test/index.html
#            name: Converting autotest test results to HTML
#            when: on_success

      - run:
            command: cd packages/portal/backend && yarn coveralls
            name: Running backend coveralls
            when: on_success

# coveralls doesn't integrate coverage
# so this overwrites the backend coverage (which we care about more)
# this is disabled and shouldn't be enabled until this is fixed
#      - run:
#            command: cd packages/autotest && yarn coveralls
#            name: Running autotest coveralls
#            when: always

      - run:
            command: cd packages/portal/backend && yarn codecov
            name: Running backend codecov
            when: on_success

      - store_test_results:
          path: testOutput

      - store_artifacts:
          path: testOutput

      - run:
            command: rm .env && rm packages/portal/backend/ssl/fullchain.pem && rm packages/portal/backend/ssl/privkey.pem
            name: Cleaning up
            when: always

